<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>demo</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webapp.root.bas</param-value>
  </context-param>
  <context-param>
    <param-name>serviceType</param-name>
    <param-value>demo</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>securityFilter</filter-name>
    <filter-class>com.hikvision.isms.multifilter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>CASLogoutFilter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CASLogoutFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CASFilter</filter-name>
    <filter-class>com.hikvision.sso.client.filter.HikAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CASFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CASValidationFilter</filter-name>
    <filter-class>com.hikvision.sso.client.filter.HikCas20ProxyReceivingTicketValidationFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CASValidationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TokenAuthFilter</filter-name>
    <filter-class>com.hikvision.isms.filters.TokenAuthFilter</filter-class>
    <init-param>
      <param-name>tokenAuthFailedCode</param-name>
      <param-value>0x06c01013</param-value>
    </init-param>
    <init-param>
      <param-name>unknowExceptionCode</param-name>
      <param-value>0x06c00001</param-value>
    </init-param>
    <init-param>
      <param-name>tokenAuthIgnoreUrl</param-name>
      <param-value>/api/sample/helloworld</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>TokenAuthFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:application-context.xml
			classpath:application-context-*.xml
			classpath:application-sample*.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>HttpServiceRequestFilter</filter-name>
    <filter-class>com.hikvision.isms.dolphin.business.web.filter.HttpServletRequestBodyReaderWrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpServiceRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserMenuAuthFilter</filter-name>
    <filter-class>com.hikvision.upm.filter.UserMenuAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserMenuAuthFilter</filter-name>
    <url-pattern>/ui/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FrontRouteFilter</filter-name>
    <filter-class>com.hikvision.isms.dolphin.business.web.filter.WebFrontRouteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FrontRouteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				classpath:springmvc-*.xml
			</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/authService/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/userService/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/ui/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/componentapi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/privilegeService/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/entrance/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/index.html</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
</web-app>